.spinner{
    display: grid;
    place-self: center;
    min-height: 80vh;
}
.spin{
    width: 65px;
    height: 65px;
    place-self: center;
    border-radius: 50%;
    border: 5px solid #45014e;
    border-top-color: #bf8ee7;
    animation: rotate 2s linear infinite;
}

.coin{
    padding: 0 20px;
}
.coinname{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 100px auto;
    margin-bottom: 50px;
}
.coinname img{
    max-width: 100px;
}
.coinname p b{
    font-size: 44px;
    font-weight: 500;
}
.coinchart{
    max-width: 600px;
    margin: auto;
    height: 250px;
}   
.coininfo{
    max-width: 600px;
    margin:50px auto;
    display: flex;
    flex-direction: column;
}
.coininfo ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #5f5d5f;
    list-style: none;
}
.coininfo ul li{
    font-weight: 300;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}